In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

## DATA CLEANING

In [5]:
content = pd.read_csv('/Users/user/ACCENTURE/Content.csv',index_col =0)

In [6]:
content

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...
995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [7]:
content.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   User ID     1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 46.9+ KB

In [8]:
content.describe()

,Content ID,User ID,Type,Category,URL
count,1000,1000,1000,1000,801
unique,1000,446,4,41,801
top,97522e57-d9ab-4bd6-97bf-c24d952602d2,72d2587e-8fae-4626-a73d-352e6465ba0f,photo,technology,https://socialbuzz.cdn.com/content/storage/975...
freq,1,8,261,71,1

In [9]:
content.isnull().sum()

Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [10]:
content=content.drop('URL',axis=1)

In [11]:
content = content.drop('User ID',axis=1)

In [12]:
dup = content.duplicated()
content[dup].sum()

Content ID    0.0
Type          0.0
Category      0.0
dtype: float64

In [13]:
content['Category'].value_counts()

technology           71
animals              67
travel               67
culture              63
science              63
fitness              61
food                 61
healthy eating       61
cooking              60
soccer               58
tennis               58
education            57
dogs                 56
studying             55
veganism             48
public speaking      48
Fitness               5
Animals               4
Science               4
"soccer"              3
"culture"             3
Soccer                3
"dogs"                2
Education             2
Studying              2
Travel                2
Food                  2
"veganism"            1
"public speaking"     1
Public Speaking       1
"technology"          1
"cooking"             1
Healthy Eating        1
"studying"            1
"food"                1
Culture               1
"tennis"              1
Technology            1
"animals"             1
Veganism              1
"science"             1
Name: Category, dtype: int64

In [14]:
content['Category']= content['Category'].str.translate(str.maketrans('', '', '\"“”‘’'))
content['Category'] = content['Category'].str.capitalize()

In [15]:
content['Category'].value_counts()

Technology         73
Animals            72
Travel             69
Science            68
Culture            67
Fitness            66
Food               64
Soccer             64
Healthy eating     62
Cooking            61
Tennis             59
Education          59
Studying           58
Dogs               58
Public speaking    50
Veganism           50
Name: Category, dtype: int64

In [16]:
content= content.rename(columns= {'Type':'Content Type'})

In [17]:
content

                               Content ID Content Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   Healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   Healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       Technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             Food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  Public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       Technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         Veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          Culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       Technology

[1000 rows x 3 columns]

In [18]:
reactions = pd.read_csv('/Users/user/ACCENTURE/Reactions.csv',index_col= 0)

In [19]:
reactions

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [20]:
reactions['Datetime']= pd.to_datetime(reactions['Datetime']).dt.date

In [21]:
reactions.head()

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06

In [22]:
reactions.isnull().sum()

Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [23]:
column_name = 'Type'
reactions = reactions.dropna(subset=[column_name])

In [24]:
column_name = 'User ID'
reactions = reactions.dropna(subset=[column_name])

In [25]:
reactions.isnull().sum()

Content ID    0
User ID       0
Type          0
Datetime      0
dtype: int64

In [26]:
reactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   User ID     22534 non-null  object
 2   Type        22534 non-null  object
 3   Datetime    22534 non-null  object
dtypes: object(4)
memory usage: 880.2+ KB

In [27]:
reactions

,Content ID,User ID,Type,Datetime
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23
...,...,...,...,...
25547,75d6b589-7fae-4a6d-b0d0-752845150e56,b6d04982-1509-41ab-a700-b390d6cb4d02,worried,2020-10-31
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04

In [28]:
reactions = reactions.drop('User ID',axis=1)

In [29]:
reactions

                                 Content ID        Type    Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2020-11-07
2      97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  2021-06-17
3      97522e57-d9ab-4bd6-97bf-c24d952602d2      scared  2021-04-18
4      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2021-01-06
5      97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  2020-08-23
...                                     ...         ...         ...
25547  75d6b589-7fae-4a6d-b0d0-752845150e56     worried  2020-10-31
25548  75d6b589-7fae-4a6d-b0d0-752845150e56     dislike  2020-06-27
25549  75d6b589-7fae-4a6d-b0d0-752845150e56   intrigued  2021-02-16
25551  75d6b589-7fae-4a6d-b0d0-752845150e56     worried  2020-11-04
25552  75d6b589-7fae-4a6d-b0d0-752845150e56     cherish  2021-01-04

[22534 rows x 3 columns]

In [30]:
reaction_type = pd.read_csv('/Users/user/ACCENTURE/ReactionTypes.csv',index_col = 0)

In [31]:
reaction_type

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

## Merging Cleaned Data into one DataFrame

In [32]:
merged_data = pd.merge(reaction_type,reactions,on='Type').merge(content,on='Content ID')

In [33]:
merged_data

,Type,Sentiment,Score,Content ID,Datetime,Content Type,Category
0,heart,positive,60,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-11,photo,Studying
1,want,positive,70,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-02-13,photo,Studying
2,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2020-11-07,photo,Studying
3,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-01-06,photo,Studying
4,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-09,photo,Studying
...,...,...,...,...,...,...,...
22529,peeking,neutral,35,1413f582-4261-4037-93bd-7356b0e9e017,2021-04-05,photo,Veganism
22530,peeking,neutral,35,e4487829-621f-4265-8665-42a4c0610745,2021-04-24,audio,Food
22531,scared,negative,15,e4487829-621f-4265-8665-42a4c0610745,2021-06-10,audio,Food
22532,scared,negative,15,01ab84dd-6364-4236-abbb-3f237db77180,2021-05-24,video,Food
22533,scared,negative,15,aeff2a7a-2cc8-407a-8557-fa4e96b2425a,2020-09-12,photo,Tennis

In [34]:
#dup = merged_data.duplicated()
#merged_data[dup].sum()

In [35]:
merged_data['Total_score']=merged_data.groupby('Category')['Score'].transform('sum')

In [36]:
merged_data

,Type,Sentiment,Score,Content ID,Datetime,Content Type,Category,Total_score
0,heart,positive,60,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-11,photo,Studying,49442
1,want,positive,70,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-02-13,photo,Studying,49442
2,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2020-11-07,photo,Studying,49442
3,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-01-06,photo,Studying,49442
4,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-09,photo,Studying,49442
...,...,...,...,...,...,...,...,...
22529,peeking,neutral,35,1413f582-4261-4037-93bd-7356b0e9e017,2021-04-05,photo,Veganism,45901
22530,peeking,neutral,35,e4487829-621f-4265-8665-42a4c0610745,2021-04-24,audio,Food,61598
22531,scared,negative,15,e4487829-621f-4265-8665-42a4c0610745,2021-06-10,audio,Food,61598
22532,scared,negative,15,01ab84dd-6364-4236-abbb-3f237db77180,2021-05-24,video,Food,61598
22533,scared,negative,15,aeff2a7a-2cc8-407a-8557-fa4e96b2425a,2020-09-12,photo,Tennis,46185

In [37]:
merged_data_sort = merged_data.sort_values('Total_score',ascending = False)
top = merged_data_sort.head(5).index.tolist()

In [42]:
merged_data['Total_score'].max()

68624

In [43]:
merged_data_sort

,Type,Sentiment,Score,Content ID,Datetime,Content Type,Category,Total_score
11663,intrigued,positive,45,b62831cc-7447-465b-9c58-1fc659b17310,2021-02-05,audio,Animals,68624
12561,peeking,neutral,35,18cb1ce7-fb66-4a56-8042-e38c9593ade1,2020-07-13,photo,Animals,68624
8924,cherish,positive,70,674507f9-c555-4876-89c7-c06b6db561c0,2021-05-30,audio,Animals,68624
8925,like,positive,50,674507f9-c555-4876-89c7-c06b6db561c0,2021-01-13,audio,Animals,68624
8926,intrigued,positive,45,674507f9-c555-4876-89c7-c06b6db561c0,2020-07-16,audio,Animals,68624
...,...,...,...,...,...,...,...,...
9166,like,positive,50,b3562ae0-929b-46a5-8989-89e4ac3d1f7c,2020-07-22,photo,Public speaking,45751
9165,like,positive,50,b3562ae0-929b-46a5-8989-89e4ac3d1f7c,2020-08-23,photo,Public speaking,45751
9164,adore,positive,72,b3562ae0-929b-46a5-8989-89e4ac3d1f7c,2021-05-05,photo,Public speaking,45751
9163,adore,positive,72,b3562ae0-929b-46a5-8989-89e4ac3d1f7c,2020-11-10,photo,Public speaking,45751
16843,worried,negative,12,0a390a93-0e59-4a7a-a12c-d3f5ce4924fe,2020-11-26,video,Public speaking,45751

In [44]:
top_5 = merged_data_sort['Category'].value_counts().head(5)

In [45]:
print('Top 5 Categories: ',top_5)

Top 5 Categories:  Animals           1738
Science           1646
Healthy eating    1572
Technology        1557
Food              1556
Name: Category, dtype: int64

In [46]:
print(top_5)

Animals           1738
Science           1646
Healthy eating    1572
Technology        1557
Food              1556
Name: Category, dtype: int64

In [68]:
top_5_data = pd.DataFrame(top_5)

In [69]:
top_5_data = top_5_data.reset_index()

In [70]:
top_5_data

            index  Category
0         Animals      1738
1         Science      1646
2  Healthy eating      1572
3      Technology      1557
4            Food      1556

In [54]:
with pd.ExcelWriter('top5.xlsx') as writer:
    top_5_data.to_excel(writer,sheet_name='top5',index = False)

In [54]:
#for Category, score in top_5.items():
    #print(f"Category: {Category}, Score: {score}")

## Writing Merged Data into Excel format

In [38]:
#with pd.ExcelWriter('Accenture.xlsx') as writer:
    #merged_data.to_excel(writer,sheet_name='merged data',index = False)

In [39]:
#with pd.ExcelWriter('Accenture_copy.xlsx') as writer:
   # merged_data_sort.to_excel(writer,sheet_name='top category',index = False)

In [40]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /Users/user/opt/anaconda3/lib/python3.9/site-packages (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [71]:
df = merged_data_sort
writer = pd.ExcelWriter('Accenture_main.xlsx',engine='xlsxwriter')
df.to_excel(writer, sheet_name='Merged Data', index=False)
df3 = top_5_data
df3.to_excel(writer,sheet_name='Top 5 Categories',index=False)

In [72]:
writer.save()